<div class="grid grid-cols-3 gap-8  ">
    <app-product img='https://picsum.photos/640/640?r=21' title="Super Pasto" [price]="12123" (addToCart)="fromChild($event)"/>
    <app-product img='https://picsum.photos/640/640?r=22' title="Super Pasto" [price]="122" (addToCart)="fromChild($event)"/>
    <app-product img='https://picsum.photos/640/640?r=23' title="Super Pasto" [price]="1233" (addToCart)="fromChild($event)"/>
    <app-product img='https://picsum.photos/640/640?r=24' title="Super Pasto" [price]="1212" (addToCart)="fromChild($event)"/>
    <app-product img='https://picsum.photos/640/640?r=25' title="Super Pasto" [price]="122" (addToCart)="fromChild($event)"/>
    <app-product img='https://picsum.photos/640/640?r=26' title="Super Pasto" [price]="1122" (addToCart)="fromChild($event)"/>
    <app-product img='https://picsum.photos/640/640?r=27' title="Super Pasto" [price]="57" (addToCart)="fromChild($event)"/>
</div>